div#ajaxsearchlitesettings1 {
    visibility: visible !important;
}
div#ajaxsearchlitesettings1 {
    visibility: visible !important;
    width: 93.4%;
    float: left;
    left: 37px !important;
    margin-top: 5px;
    z-index: 1;
}
#ajaxsearchlitesettings1 fieldset.asl_sett_scroll {
    width: 100%;
}
#ajaxsearchlitesettings1 form .asl_option {
    float: left !important;
    display: inline-block;
    width: 200px !important;
    position: relative;
    padding-left: 15px;
}
div#ajaxsearchliteres1 {
    margin-top: 12em;
}

/* Default code */
div.asl_w {
	width: 100%;
	height: auto;
	border-radius: 5px;
	background-color: #5cb7e1;
	background-image: -moz-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: -webkit-gradient(radial, center center, 0, center center, 100%, #5cb7e1, #5cb7e1);
	background-image: -webkit-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: -o-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: -ms-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: radial-gradient(ellipse at center, #5cb7e1, #5cb7e1);
	overflow: hidden;
	border: 0 none #8dd5ef;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0 0 #000;
}

#ajaxsearchlite1 .probox,
div.asl_w .probox {
	margin: 0;
	height: 34px;
	background-color: #5cb7e1;
	background-image: -moz-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: -webkit-gradient(radial, center center, 0, center center, 100%, #5cb7e1, #5cb7e1);
	background-image: -webkit-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: -o-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: -ms-radial-gradient(center, ellipse cover, #5cb7e1, #5cb7e1);
	background-image: radial-gradient(ellipse at center, #5cb7e1, #5cb7e1);
	border: 0 solid #68aec7;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0 0 #b5b5b5 inset;
}

#ajaxsearchlite1 .probox .proinput,
div.asl_w .probox .proinput {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff !important;
	font-size: 12px;
	line-height: normal !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

#ajaxsearchlite1 .probox .proinput input,
div.asl_w .probox .proinput input {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff !important;
	font-size: 12px;
	line-height: normal !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	border: 0;
	box-shadow: none;
	height: 34px;
}

div.asl_w .probox .proinput input::-webkit-input-placeholder {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_w .probox .proinput input::-moz-placeholder {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_w .probox .proinput input:-ms-input-placeholder {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_w .probox .proinput input:-moz-placeholder {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_w .probox .proinput input.autocomplete {
	font-weight: normal;
	font-family: Open Sans;
	color: #fff;
	font-size: 12px;
	line-height: normal !important;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	margin-top: -34px !important;
}

div.asl_w .probox .proloading,
div.asl_w .probox .proclose,
div.asl_w .probox .promagnifier,
div.asl_w .probox .prosettings {
	width: 34px;
	height: 34px;
}

div.asl_w .probox .promagnifier .innericon svg {
	fill: #fff;
}

div.asl_w .probox .prosettings .innericon svg {
	fill: #fff;
}

div.asl_w .probox .promagnifier {
	width: 34px;
	height: 34px;
	background-color: #468ebe;
	background-image: -o-linear-gradient(180deg, #468ebe, #468ebe);
	background-image: -ms-linear-gradient(180deg, #468ebe, #468ebe);
	background-image: -webkit-linear-gradient(180deg, #468ebe, #468ebe);
	background-image: linear-gradient(180deg, #468ebe, #468ebe);
	background-position: center center;
	background-repeat: no-repeat;
	border: 0 solid #000;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .61);
	cursor: pointer;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.asl_w .probox .prosettings {
	width: 34px;
	height: 34px;
	background-color: #468ebe;
	background-image: -o-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -ms-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -webkit-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: linear-gradient(185deg, #468ebe, #468ebe);
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	border: 0 solid #68aec7;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .63);
	cursor: pointer;
	background-size: 100% 100%;
	order: 7;
	-webkit-order: 7;
}

div.asl_r {
	position: absolute;
	z-index: 1100;
}

div.asl_r.vertical {
	padding: 4px;
	background: #5cb7e1;
	border-radius: 3px;
	border: 0 none #000;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0 0 #000;
	visibility: hidden;
	display: none;
}

div.asl_r .results .nores .keyword {
	padding: 0 6px;
	cursor: pointer;
	font-weight: normal;
	font-family: Open Sans;
	color: #4a4a4a;
	font-size: 13px;
	line-height: 13px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
	font-weight: bold;
}

div.asl_r .results .item {
	height: auto;
	background: #fff;
}

div.asl_r.vertical .results .item:after {
	background: #ccc;
}

div.asl_r .results .item.hovered {
	background-color: #f5f5f5;
	background-image: -moz-radial-gradient(center, ellipse cover, #f5f5f5, #f5f5f5);
	background-image: -webkit-gradient(radial, center center, 0, center center, 100%, #f5f5f5, #f5f5f5);
	background-image: -webkit-radial-gradient(center, ellipse cover, #f5f5f5, #f5f5f5);
	background-image: -o-radial-gradient(center, ellipse cover, #f5f5f5, #f5f5f5);
	background-image: -ms-radial-gradient(center, ellipse cover, #f5f5f5, #f5f5f5);
	background-image: radial-gradient(ellipse at center, #f5f5f5, #f5f5f5);
	;
}

div.asl_r .results .item .asl_image {
	width: 70px;
	height: 70px;
}

div.asl_r .results .item .asl_content {
	font-weight: normal;
	font-family: Open Sans;
	color: #4a4a4a;
	font-size: 12px;
	line-height: 18px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r .results .item .asl_content h3,
div.asl_r .results .item .asl_content h3 a {
	margin: 0;
	padding: 0;
	line-height: inherit;
	font-weight: normal;
	font-family: Open Sans;
	color: #1454a9;
	font-size: 13px;
	line-height: 17px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r .results .item .asl_content h3 a:hover {
	font-weight: normal;
	font-family: Open Sans;
	color: #2e6bbc;
	font-size: 13px;
	line-height: 17px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r .results .item div.etc {
	padding: 0;
	line-height: 10px;
	font-weight: bold;
	font-family: Open Sans;
	color: #a1a1a1;
	font-size: 10px;
	line-height: 12px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r .results .item .etc .asl_author {
	padding: 0;
	font-weight: bold;
	font-family: Open Sans;
	color: #a1a1a1;
	font-size: 10px;
	line-height: 12px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r .results .item .etc .asl_date {
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: normal;
	font-family: Open Sans;
	color: #adadad;
	font-size: 10px;
	line-height: 12px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r .results .item p.desc {
	margin: 2px 0;
	padding: 0;
	font-weight: normal;
	font-family: Open Sans;
	color: #4a4a4a;
	font-size: 13px;
	line-height: 13px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_r span.highlighted {
	font-weight: bold;
	color: #d9312b;
	background-color: #eee;
	color: rgba(217, 49, 43, 1);
	background-color: rgba(238, 238, 238, 1);
}

div.asl_s.searchsettings {
	background-color: #468ebe;
	background-image: -webkit-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -moz-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -o-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -ms-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -webkit-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -moz-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -o-linear-gradient(185deg, #468ebe, #468ebe);
	background-image: -ms-linear-gradient(185deg, #468ebe, #468ebe);
	;
	box-shadow: 0 0 0 0 #000;
	;
}

div.asl_s.searchsettings .asl_option_label {
	font-weight: bold;
	font-family: Open Sans;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

div.asl_s.searchsettings .asl_option_inner label {
	background-color: #222;
	background-image: linear-gradient(180deg, #222, #36373a);
	background-image: -webkit-linear-gradient(180deg, #222, #36373a);
	background-image: -moz-linear-gradient(180deg, #222, #36373a);
	background-image: -o-linear-gradient(180deg, #222, #36373a);
	background-image: -ms-linear-gradient(180deg, #222, #36373a);
	;
}

div.asl_s.searchsettings fieldset .categoryfilter {
	max-height: 200px;
	overflow: auto;
}

div.asl_s.searchsettings fieldset legend {
	padding: 5px 0 0 10px;
	margin: 0;
	font-weight: normal;
	font-family: Open Sans;
	color: #1f1f1f;
	font-size: 13px;
	line-height: 15px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}