@media screen and (min-width: 768px) and (max-width: 1366px) {
    /* Global column layout width 100%  =================================*/    
    .container{
        width:90%;
        padding: 0px;
    }
   
    
}
@media only screen and (max-width: 1024px) {
    .one_half,
    .one_half_last,
    .one_fourth,
    .one_fourth_last,
    .footer_widgets .one_fourth,
    .footer_widgets .one_fourth_last,
    .two_third,
    .one_third,
    .one_third_last,
    .one_fifth,
    .four_fifth_last,
    .three_fourth,
    .three_fourth_last,
    .header_menu_section,
    .woocommerce div.product div.images,
    .fm-form li,
    #setcard .one_third,
    .two_third_last, #kaya-header-content-wrapper #logo, #kaya-header-content-wrapper #header-navigation {
        width: 100%!important;
        margin: 0px;
        float: none;
        clear: both;
    }
    #logo img {
        max-width: 70%;
        width: 70%;
        height: auto;
    }
    #header-navigation ul{
        margin-right: 0px;
        float: none;
    }
    nav#header-navigation ul ul li a {
        padding-left: 10px;
    }
    .filter_tabs ul li a {
        padding: 5px 15px;
        margin-bottom: 10px;
        font-size: 13px;
    }
    ul.filter_submenu li a{
        margin-bottom: 0px;
    }
    #main-menu{
      display: none;
    }
    .main-menu-btn {
        position: absolute!important;
        top: 10px!important;
        right: 50px !important;
    }
    .container{
        width: 90%;
    }
    #logo a {
        float: left;
    }
    .mobile_toggle_menu_icons {
        float: right;
        margin-right: 50px;
        margin-top: 9px;
    }
    #mid-content{
        padding:30px 0px;
    }
    #kaya-page-content-wrapper{
        overflow:hidden;
    }    
    #sidebar{
        padding:0px;
    }    
    footer, .footer-menu-wrapper ul{
        text-align: center;
    }
    #header-navigation ul li.current-menu-item.current_page_item > a, #header-navigation .current-menu-ancestor.current-menu-parent.current_page_parent > a, 
    #header-navigation .current-menu-ancestor.current-menu-parent > a{
        border-top: none!important;
    }
    .top-nav a, .top-nav a:hover, .top-nav a:focus, .top-nav a:active{
        margin-left: 0px !important;
    }
    #header-navigation ul li a,
    #header-navigation ul ul li a {
        padding:10px 0px;
        border-bottom: 1px solid #ccc;
        border-top: none;
    }
    #header-navigation ul li > a:hover{
        border-top: none!important;
    }
    div#main-nav {
        float: left;
        margin-right: 0;
        width: 100%;
        position: relative;
        z-index: 0;
    }
    nav#header-navigation ul ul {
        width: 100% !important;
        margin-top: 0px !important;
    }
    #flip {
        position: absolute;
        top: 0;
        right: 0;
    }
    #panel {
        right: 0px;
        width: 80%;
    }
    #header-navigation ul ul,
    #header-navigation ul ul li a,
    #header-navigation ul ul > li.current-menu-item.current_page_item{
        background-color: transparent!important;
        color: #333!important;
    }
    .column-extra {
        width: 100%;
    }
   div#nav-user-dashboard-menu,
   #user-dashboard-menu{
    width: 100%;
   }
   .user-dashboard ul{
        padding-top: 0px;
        position: relative!important;
   }
   #header-navigation ul ul li a{
    color: #333;
   }
   div#nav-user-dashboard-menu .top-nav a{
        padding: 13px 20px 10px;
   }
   .shortlist_list_form_data{
        width: 300px!important;
   }  
}
@media only screen and (max-width: 570px) {
    .filter_tabs ul > li{
        display: block;
        margin-right: 0px;
    }
    ul.filter_submenu {
        width: 100%;
    }    
}

@media only screen and (max-width: 768px) {
    .talents_details .general-meta-fields-info-wrapper{
        position: relative;
        bottom: 0;
        opacity: 1!important;
        left: 0!important;
        top:inherit!important;
    }
    .talents_details {
        position: relative;
    }
    .cpt-post-content-wrapper ul li a.item_button.add, .kaya-post-content-wrapper ul li a.item_button.add{
        display: block!important;
    }
    a.item_button{
        top: 30px!important;
    }
}