/*
Theme Name: Casting
Theme URI: http://kayapati.com/demos/casting/
Author: Kayapati
Author URI: https://themeforest.net/user/kayapati
Description: Casting Talent Management WordPress CMS Theme
Version: 2.0.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: Casting
Tags: two-columns, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Links
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.67em;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}


sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
textarea {
	color: #404040;
	font-family: sans-serif;
	line-height: 1.5;
}
select{
	font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0px;
	margin-bottom: 15px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #1a1a1a;
	color: #686868;
	font-size: 19px;
	font-style: italic;
	line-height: 1.4736842105;
	margin-bottom: 28px;
	overflow: hidden;
	padding: 0 0 0 24px;
	background: rgba(127,127,127,.3);
}

blockquote blockquote:not(.alignleft):not(.alignright), blockquote:not(.alignleft):not(.alignright) {
	margin-left: 0;
}

blockquote:before,
blockquote:after {
	content: "";
	display: table;
}

blockquote:after {
	clear: both;
}

blockquote > :last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	font-size: 16px;
	line-height: 1.75;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote.alignleft,
blockquote.alignright {
	border: 0 solid #1a1a1a;
	border-top-width: 4px;
	padding: 18px 0 0;
	width: -webkit-calc(50% - 14px);
	width: calc(50% - 14px);
}
blockquote p {
    padding: 20px;
    padding-left: 0;
}
address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0em;
	padding: 0px;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	display: block;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
	border: 1px solid rgba(127,127,127,.3);
}

table a {
	color: #007acc;
}

table,
.mce-item-table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 28px;
	width: 100%;
}

table th,
.mce-item-table th,
table caption {
	border-width: 0 1px 1px 0;
	font-size: 16px;
	font-weight: 700;
	padding: 7px;
	text-align: left;
	vertical-align: baseline;
}

table td,
.mce-item-table td {
	border-width: 0 1px 1px 0;
	font-size: 16px;
	padding: 7px;
	vertical-align: baseline;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: 9px 12px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	padding: 3px 5px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
.sticky{

}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
#kaya-header-content-wrapper{
	background: #f1f1f1;
	padding:30px 0;
	border-bottom: 1px solid rgba(204, 204, 204,0.4)
}
/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
#logo{
	float: left;
}
#logo h1{
	margin: 0px;
    line-height: 1em;
    margin-bottom: 10px;
}
#logo p{
	margin: 0px;
}
#logo h1.site-title a{
	text-decoration: none;
}
/*--------------------------------------------------------------
## Header Menu
--------------------------------------------------------------*/
#header-navigation{
	float: right;
}
#header-navigation ul{
	list-style: none;
	margin:0px;
	float: left;
}
#header-navigation a{
	text-decoration: none;
}
.ul-menu-wrapper {
    float: left;
    margin-right: 15px!important;
    display: inline-block;
}
.sub-menu li.current-menu-item.current_page_item > a, 
.sub-menu .current-menu-ancestor.current-menu-parent.current_page_parent > a, 
.sub-menu .current-menu-ancestor.current-menu-parent > a{
	border-top:none!important;
}

/*--------------------------------------------------------------
# User Dashboard Menu
--------------------------------------------------------------*/
div#nav-user-dashboard-menu {
    float: left;
    position: relative;
}
#user-dashboard-menu {
    right: 0px;
    left: inherit;
    top: 100%;
}
#header-navigation #user-dashboard-menu li a {
    padding: 10px !important;
    background: #333;
    color: #fff;
}
.user-dashboard ul {
    padding-top: 20px;
}

div#nav-user-dashboard-menu .top-nav a {
    background: rgba(0,0,0,0.1);
    padding:10px 20px;
}
div#nav-user-dashboard-menu ul#main-menu li a {
    font-weight: bold;
}
#user-dashboard-menu li.current-menu-item a{
	border-top:none!important;
}
div#nav-user-dashboard-menu ul#main-menu li a {
    border-top: 3px solid #333;
}
/*--------------------------------------------------------------
# Page title bar
--------------------------------------------------------------*/
.kaya-page-titlebar-wrapper{
	background: #dedede;
	padding: 30px 0;
	border-bottom: 1px solid rgba(204, 204, 204,0.4);
}
.kaya-page-titlebar-wrapper .page-title{
	margin: 0px;
}
.tax-portfolio_category .kaya-page-titlebar-wrapper {
    display: none;
}
.search .kaya-page-titlebar-wrapper{
	display: none;
}
/*-------------------------------------------------------------
 #sidebar
 ------------------------------------------------------------*/
#sidebar ul {
    list-style: none;
    padding: 0;
}
#sidebar li {
    margin-bottom: 10px;
}
aside#sidebar .widget h2 {
    margin-bottom: 10px;
    margin-top: 0;
}
/*--------------------------------------------------------------
# Talents
--------------------------------------------------------------*/
.kta-talent-content-wrapper ul{
	padding:0!important;
}
.mata_data_info_wrapper{
	padding: 20px;
	opacity: 1 !important;
}
ul.page-numbers li span, ul.page-numbers li a {
    float: left;
    background: #f2f2f2;
    margin-right: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #d6d6d6;
}
.kta-talent-panel-titles{
	display: block!important;
}
ul.page-numbers li{
	padding: 0px;
}
.kta-talent-panel-titles h4 {
    margin-top: 0;
}
.kta-tabs-content-wrapper .mata_data_info_wrapper{
	display: block !important;
}
.single-portfolio .mata_data_info_wrapper{
	padding: 0px !important;
	white-space:inherit!important;
}
.single-portfolio .kaya-page-titlebar-wrapper{
	display: none;
}
.tab-section .kta-talent-panel-titles {
    padding-bottom: 10px;
    display: table !important;
}
.tab-section {
    margin-bottom: 30px;
    display: block !important;
}
.kta-tabs-content-wrapper ul {
    margin: 0px!important;
    padding: 0;
}

.talent_details {
    background: #81d742;
    color: #ffffff!important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
}

.mata_data_info_wrapper span {
    font-size: 14px;
    line-height: 26px;
    display: table;
}
.mata_data_info_wrapper ul li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
}
.kta_tabs_content_wrapper ul strong {
    float: left;
    margin-right: 13px;
}
.setcard-talent-detials .kta_tabs_content_wrapper .mata_data_info_wrapper span {
    margin-right: 10px;
}
a.item_button {
    position: absolute;
    background: #000;
    color: #fff!important;
    height: 50px!important;
    width: 50px!important;
    text-align: center;
    line-height: 50px!important;
    transform: rotate(0deg)!important;
    -ms-transform: rotate(0deg)!important;
    -webkit-transform: rotate(0deg)!important;
    line-height: 50px!important;
    bottom:10px!important;
    right:10px!important;
    left: initial !important;
    top: initial !important;
    z-index: 1;
    border-radius: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.09);
}
a.item_button i {
    transform: rotate(0deg)!important;
    -ms-transform: rotate(0deg)!important;
    -webkit-transform: rotate(0deg)!important;
}
.kta_social_share_icons ul{
	padding: 0px;
}
.kta_social_share_icons li a {
    border: 1px solid rgba(204,204,204,.3);
    padding:0px!important;
    display: block;
    height: 40px!important;
    width: 40px!important;
    line-height: 40px!important;
    margin-bottom: 4px;
    text-align: center;
    margin-top: 4px;
}
.kta_tabs_content_wrapper h3 {
    margin-top: 0;
}
.talent_item_add_remove .action {
    padding: 7px 15px!important;
    background: #f2f2f2!important;
    border: 1px solid rgba(204,204,204,.3);
    margin-top: 20px;
}
a.kta-search-menu {
    background: #000;
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    text-align: center;
    line-height: 30px !important;
    padding-top: 0 !important;
    border-radius: 3px;
}
a.kta-search-menu:hover {
    color: #fff !important;
    border-top: none!important;
}
.container.toggle_search_wrapper{
	display: none;
	right: 0!important;
	left: inherit;
}
span.search_close{
	right: 0!important;
	left: inherit;
}
.kaya_toggle_search.toggle_search_wrapper.container {
    padding: 30px;
   box-shadow: 0px 0px 50px -14px rgba(0,0,0,0.14);
}
.kta-talent-shortlist-wrapper .mata_data_info_wrapper span {
    line-height:26px!important;
}
.page-template-shortlist #mid-content {
    padding: 50px 0px;
}
#kaya-mid-content-wrapper h4{
	font-size: 25px;
}
#kaya-mid-content-wrapper{
	min-height: 780px;
}
.page-template-shortlist .mata_data_info_wrapper span {
    display: inline !important;
}
.search_box_style.search_by_order {
    display: block;
    width: 100%;
}
.search_box_style {
    width: 25%;
    margin-bottom: 15px;
    overflow: hidden;
    display: inline-block;
}
.search_box_style input {
    padding:9.5px 3%!important;
    border-radius: 0 !important;
}
.toggle_search_field select,
.search_box_style input{
	font-size: 13px;
}
.toggle_search_field select:first-child {
    margin-right: 0.9%!important;
}
.toggle_search_field .search_by_order select, .toggle_search_field select {
    width: 48.5%!important;
    float: left;
}
.setcard-talent-detials .mata_data_info_wrapper ul li,
.kta_talent_compcard .mata_data_info_wrapper ul li{
	display: block!important;
	border-bottom: 1px solid rgba(78, 78, 78,0.9);
}
ul.ta-extra .kta-column1 {
    width: 98.7%;
}
.setcard-talent-detials {
    height: 628px!important;
}
.kta-search-form .search_button input {
    line-height: 20px;
}
.kta-search-content-wrapper .toggle_search_field{
	padding: 0px!important;
}
.kta-user-accocunt{
	float: left!important;
}
.menu_search_icon {
    float: right;
    margin-left: 30px;
    margin-top:19px;
}
.form_shortlist_book_form {
     width: 50%;
}
.form_fullwidth input, .form_fullwidth textarea {
    width: 96%;
    padding: 6px 2%!important;
    border-radius: 0 !important;
}
.kta-user-accocunt > a{
	color: #333; 
}
ul.page-numbers .page-numbers{
	padding:0px!important; 
}
.kta_tabs_content_wrapper .mata_data_info_wrapper span {
    display: initial;
}
.pf_shortlist_details_wrapper .mata_data_info_wrapper{
	padding:10px 0px!important;
	white-space: inherit;
} 
.kaya_toggle_search.toggle_search_wrapper.container {
    right: 0!important;
    opacity: 1!important;
}
.kta-image-details-wrapper{
	display: block!important;
}
.set_card_wrapper {
    background: #f2f2f2;
    border: 1px solid rgba(204,204,204,.3);
    padding: 7px 15px;
    margin-top: 30px;
}
.kta_talent_compcard .set_card{
    display:none;
}
.kta-talent-shortlist-wrapper h5 {
    margin-bottom: 1px!important;
    margin-top: 10px;
}
#user_portfolio_form .kta-form{
	padding: 0px !important;
}
.kta-tabs-content-wrapper h4 {
    margin-bottom: 10px;
}
.mejs-audio {
    margin-bottom: 1px;
}
.kta_talent_compcard {
    display: none !important;
}
ul.pf_shotlist_options_wrapper{
	padding:0px; 
}
ul.ta-extra{
	padding: 0px;
}
/*--------------------------------------------------------------
# Front End Talents
--------------------------------------------------------------*/
.deprecated-meta-panels{
	display: none;
}
/*--------------------------------------------------------------
# Pricing Table
--------------------------------------------------------------*/
.pricing_header {
    padding:30px 25px 35px;
    text-align: center;
    border: 1px solid #c52602;
    border-bottom: none;
}
.widget_kaya-pricing-table .price {
    padding: 20px 30px;
    text-align: center;
    background-color: #3a3a3a !important;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.pricing_header h3{
position:relative;
}
.pricing_header h3:after {
    position: absolute;
    content: '';
    width:70px;
    height:3px;
    background: #fff;
    margin: 0px auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -16px;
}
.pricing_content ul {
    padding: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.widget_kaya-pricing-table .pricing_table ul li {
    text-align: center;
    padding: 10px 0;
	border-bottom: 1px solid #fff;
    border-top: 1px solid #e4e4e4;
}
.widget_kaya-pricing-table .pricing_table .pricing_footer {
    text-align: center;
}
.price h1 {
    margin-bottom: 5px;
}
.pricing_footer{
  border: 1px solid #c52602;
  border-top: none;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#kaya-footer-content-wrapper{
	background: #f1f1f1;
	padding:15px 0;
	overflow: hidden;
}
.footer-menu-wrapper ul li {
    display: inline-block;
    margin-left: 10px;
}

.footer-menu-wrapper ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

#kaya-footer-content-wrapper a {
    text-decoration: none;
}
/*
.kaya-page-content-footer{
	padding:30px 0;
}
*/
.kaya-page-content-footer p{
	margin: 0px;
}
.kaya-page-content-footer ul li {
    list-style: none;
    margin: 0;
    border-bottom: none;
}
.kaya-page-content-footer a {
    color: #f5f5f5;
    text-decoration: none;
}
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
h2.entry-title{
	margin-top: 0px;
}
article.hentry p{
	margin: 0px;
}
article.sticky ul{
	margin-bottom: 0px;
}
article.sticky{
	background: rgba(127,127,127,0.1);
	padding: 30px;
}
.single-post .kaya-page-titlebar-wrapper{
	display: none;
}
.post_image{
	margin-bottom: 10px!important;
	margin-right: 0px!important;
}
a.more-link {
    background: #333;
    color: #fff !important;
    padding: 5px 20px;
    margin-top: 20px;
    clear: both;
    overflow: hidden;
    display: table;
}
/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search-results article.hentry {
    margin-bottom: 40px;
}
.search-results article.hentry p{
	padding-bottom: 15px;
}
.search-results article.hentry h2{
	margin:0px 0px 10px;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 2em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
#comments ol{
	list-style: none;
	padding: 0px;
	margin:0px;
}
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-item {
	display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    line-height: 0;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 31.8%;
}

.gallery-columns-4 .gallery-item {
	max-width: 23.5%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.gallery-caption {
	display: block;
    margin-top: 0;
    line-height: 21px;
}

/*--------------------------------------------------------------
## Page Builder
--------------------------------------------------------------*/
.textwidget ul {
    padding: 0;
}
.textwidget ul li {
    list-style-type: circle;
    margin-left: 22px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
/*--------------------------------------------------------------
## Blog
--------------------------------------------------------------*/
.comment-author .avatar{
	float: left;
	margin-right: 20px;
}
.comment-author img.avatar{
	width: 80px;
	height: 80px;
}
.comment-body {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.reply a {
    border: 1px solid #ccc;
    padding: 10px 30px;
    background: #fff;
}
.comment-form-comment textarea {
    padding: 20px;
    margin-top: 20px;
}
p.comment-form-comment{
	padding-bottom: 0px;
}
#commentform input {
     padding:5px 20px;
     width: 100%;
     margin-top:10px;
}
#commentform label {</nav>
    font-size: 15px;
    font-weight: bold;
}
.form-submit input {
    padding: 13px 24px !important;
    width: 200px !important;
}
.entry-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
span.posted-on {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
}
.nav-previous {
    float: left;
    border: 1px solid #ccc;   
    background: #f2f2f2;
}
.nav-previous a, .nav-next a{
	 padding: 5px 20px;
	 display: block;
}
.nav-next {
    float: right;
    border: 1px solid #ccc;
    background: #f2f2f2;
}
.post-meta-data {
    border-top: 1px solid rgba(127,127,127,.3);
    border-bottom: 1px solid rgba(127,127,127,.3);
    margin: 15px 0;
}
.post {
    margin-bottom: 50px;
}
nav.navigation.post-navigation {
    margin: 30px 0;
    display: table;
}
p{
	margin:0px;
}
@media print{
	.kaya-page-content-footer{
		display: none;
	}
}
/*--------------------------------------------------------------
## woocommerce
--------------------------------------------------------------*/
.woocommerce .star-rating span::before {
     font-family: star;
}
.woocommerce nav.woocommerce-pagination ul{
	border:none!important;
}
.woocommerce nav.woocommerce-pagination ul li {
    border-right: none!important;
    margin-right: 10px;
}
.woocommerce .kaya-page-titlebar-wrapper{
	display: none;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
	padding:.5em !important; 
}
/*--------------------------------------------------------------
## Talent Single Page
--------------------------------------------------------------*/
.single .kaya-page-titlebar-wrapper {
    display: none;
}
.general-meta-fields-info-wrapper ul li {
    color: #666666;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.general-meta-fields-info-wrapper {
    margin-bottom: 50px;
}
.kaya-post-content-wrapper .general-meta-fields-info-wrapper {
    padding:20px;
}
.single-page-meta-content-wrapper h3{
    border-bottom: 3px solid#e63f19;
    padding-bottom: 10px;
    display: table !important;
    margin-bottom: 25px;
}

.single-page-meta-content-wrapper {
    margin-bottom: 30px;
}
.single-page-meta-content-wrapper:last-child {
    margin-bottom: 0px;
}


.post-meta-info-wrapper {
    background: #81d742;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -2000px;
}
.mata_data_info_wrapper {
    padding: 20px;
    opacity: 1 !important;
}
.post-meta-info-wrapper ul li {
    display:block!important;
}
.post-meta-info-wrapper  .mata_data_info_wrapper ul li,
.kaya-post-content-wrapper .general-meta-fields-info-wrapper ul li{
	border: none;
	margin-bottom: 0px!important;
	padding-bottom: 0px!important;
}
.kaya-post-content-wrapper .general-meta-fields-info-wrapper ul li{
	display: block;
}
.cpt-post-content-wrapper ul li a.item_button.add,
.kaya-post-content-wrapper ul li a.item_button.add{
	display: none;
}
.general-meta-fields-info-wrapper p:first-child{
	padding-bottom:0px!important;
}
.single_tabs_content_wrapper .richtext-data-content-wrapper h4{
	margin-bottom:15px!important;
}
/*--------------------------------------------------------------
## Search Panel 
--------------------------------------------------------------*/
#panel, #flip {
    padding:5px 30px;
}
#panel {
    padding: 15px;
    display: none;
    position: absolute;
    z-index: 99;
    box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.5);
    right:0px;
    top: 60px;
    width: 30%;
    background: #fff;
    border-bottom: 3px solid #e63f19;
}
div#panel:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    top: 0;
    right:-10px;
    box-sizing: border-box;    
    border: 0.5em solid black;
    border-color: transparent transparent #fff #fff;    
    transform-origin: 0 0;
    transform: rotate(135deg);    
    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.2);    
}
#flip {
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: right;
    background: #e63f19;
    padding: 0px 8px!important;
    color: #fff;
    margin-top: 6px;
    border-radius: 2px;
    margin-left: 30px;
}

div[class*='rangclass-'], .ui-slider-range {
    background: #e63f19 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover{
	background: #000;
	border: 1px solid #000;
}
a.scrolltop {
    position: fixed;
    background: #333;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    bottom: 30px;
    right: 30px;
    color: #fff;
}
.pods-post-tags {
    margin: 25px 0 45px;
}
.general-meta-fields-info-wrapper ul strong {
    float: left;
}


/*image hover css*/
.talents_details {
    position: absolute;
    top: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.talent_image_details_wrapper{
	position: relative;
	overflow:hidden;
}
.talents_details .general-meta-fields-info-wrapper {
    position: absolute;
    top: 0;
    left: -100%;
    padding:20px;
    transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    opacity: 0;
    width:100%;
    background: #fff;
    height:100%;
}

.talents_details .general-meta-fields-info-wrapper ul li{
	border: none;
    padding-bottom: 0!important;
    margin-bottom: 8px!important;
    font-size: 13px;
    line-height: 15px;
    word-wrap: break-word;
}
.filter_tabs ul li a {
    padding: 5px 15px;
    display: block;
}
.filter_tabs ul li{
	margin-right: 10px;
}
.search_close {
    background: #eaeaea;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.advanced_search_wrapper {
    padding: 30px 10px 10px;
}
.advanced_search_forms .ui-slider {
    width: 94%!important;
    margin: inherit;
}
input.search_data_submit, 
.caldera-grid .btn-default, 
#pods-cpt-submit-button,
.kaya-form .kaya-button{
    margin-top: 20px;
    font-size: 13px !important;
    background: #151515 !important;
    color: #fff !important;
    border: none !important;
    padding: 15px 30px !important;
}
.readmore_button, .button-primary{
	border: none;
}
.button-primary{
	margin:20px 0; 
}
.ui-corner-all{
	border-radius: 0px!important;
}
.pods-post-tags strong {
    margin-right: 10px;
}
ul.filter_submenu{
	width: 250px;
}
ul.filter_submenu li a {
    padding: 5px 20px;
    border-bottom: 1px solid rgba(244,244,244,0.1);
    font-size: 13px;
}
ul.shortlist_buttons a {
    background: #f2f2f2;
    padding: 10px 15px;
}
.kaya-form{
	padding: 0px!important;
}
.shortlist-page-wrapper .item_button.action.remove{
	display:block;
}
.single .one_fourth {
    width: 25%;
}
.single .three_fourth_last {
    width: 71%;
}
.client-form {
    background: #fbfbfb;
    padding: 22px 22px 0 !important;
    border: 1px solid #eaeaea;
}


.advanced_search_wrapper select.column2:last-child {
    margin-right: 0;
}

.advanced_search_wrapper select.column2 {
    width: 49.2%;
    margin-right: 1.5%;
    float: left;
}