
/* 
 Theme Name:     Bare bones for Divi
 Author:         Divi theme examples
 Author URI:     http://www.divithemeexamples.com 
 Template:       Divi
 Version:        1.0 
*/ 

/* ----------- These styles are also included in the ePanel in Divi Theme options --------------------------- */ 
/* BOUNCING MORE ICON */
 
@-webkit-keyframes bounce {
0%, 100% {
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-webkit-transform: translateY(0);
transform: translateY(0);
}
40% {
-moz-transform: translateY(-10px);
-ms-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
transform: translateY(-10px);
}
}
@keyframes bounce {
0%, 100% {
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-webkit-transform: translateY(0);
transform: translateY(0);
}
40% {
-moz-transform: translateY(-10px);
-ms-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
transform: translateY(-10px);
}
}
span.scroll-down.et-pb-icon { 
-webkit-animation-name: bounce;
animation-name: bounce;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

/* TOGGLE ICON */
.et_pb_toggle_open .et_pb_toggle_title:before {
transform: rotate(180deg);
content:url("http://www.luxury-phuket.com/wp-content/uploads/2015/10/toggle-goupcross.png");
transition:all 0.5s ease-in-out 0s;
}
.et_pb_toggle_title:before {
content:url("http://www.luxury-phuket.com/wp-content/uploads/2015/10/toggle-godown.png");
transition:all 0.5s ease-in-out 0s;
}

/*PERSON MODULE*/
.person-round {text-align:center;}
 .person-round img {
 max-width: 250px;
 border: 5px solid #fff;
 border-radius: 150px;
transform: rotate(-5deg);
 -webkit-filter: grayscale(90%) ;
 filter: grayscale(90%) ;
 transition: 0.5s;
 -moz-transition: 0.5s;
 -webkit-transition: 0.5s;}
 
 .person-round img:hover {
transform: rotate(0deg);
 border: 5px solid #e5e2d3;
 -webkit-filter: grayscale(0%) ;
   filter: grayscale(0%);
}


/* ----------- PUT YOUR CUSTOM CSS BELOW THIS LINE -- DO NOT EDIT ABOVE THIS LINE --------------------------- */ 


/* JTM */

/* Menu jump fix */
#page-container {
padding-top: 54px !important;
}
#main-header {
top: 0px !important;
}

/* Secondary menu alignment */
#et-info {
float: none !important;
text-align: center;
}

/* Mega menu */
.mega-link > a {
    text-align: center;
//    font-size: 20px !important;
//    text-transform: uppercase;
//    font-weight: 400 !important;
//    letter-spacing: 3px;
}
 
.mega-link > a img {
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
}

/* Fixed footer */
.home #main-footer{
position: fixed;
bottom: 0;
width: 100%;
}

.et_pb_fullwidth_header p {
    padding-bottom: 1em;
}

.et_pb_button.et_pb_button_join {
    display: inline-block;
    width: 49%;
    float: left;
}
.et_pb_button.et_pb_button_login {
    display: inline-block;
    width: 49%;
    float: right;
}

.et_pb_section_parallax_fullheight {
    height:90vh !important;
}

.et_pb_module .et_pb_button:hover{padding:.3em 2em .3em 1em;border:2px solid transparent}
//{padding-right:.7em;padding-left:2em}
.et_pb_module .et_pb_button:hover{padding:.3em 2em .3em 1em;border:2px solid transparent}
.et_pb_module .et_pb_button:hover{padding:.3em 2em .3em 1em !important;border:2px solid transparent}

.et_pb_section_parallax_fullheight .et_parallax_bg {
}

/* JTM Media */

@media all and (max-width: 980px) {
}

@media all and (max-width: 767px) {
}

@media screen and (max-width: 480px) {
}
