/*
Theme Name: Videotube
Text Domain: videotube
*/
h1,h2,h3,h4,h5,h6 {
	font-family:"Lato", sans-serif !important;
}
img{
	max-width:100%;
	height: auto;
}
iframe{
	border:0
}
.radio{margin-left:20px;}
#header-social a,.social-counter-item i,.video-details .meta a, .post-info .meta a,#footer .widget a.tag, #footer .mars-keycloud-widgets a, .tagcloud a{
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s
}
.container{
	position:relative
}
.carousel{
	overflow:hidden
}
.pagination{
	white-space:nowrap;
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
    margin-bottom: 30px!important;
}




/*** HEADER ***/
#header {
	
	position: relative;
	z-index: 10;
background:#fff url(img/hdr_bg.png)left bottom repeat-x;
}
header {
	
	position: relative;
	z-index: 10;
background:#fff url(img/hdr_bg.png)left bottom repeat-x;
}
header.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
	margin-bottom: 0px;
}
header.navbar-inverse .navbar-header {
   padding: 0PX;
    width: 100%;
    MARGIN: 0PX;
}
header.navbar-inverse .navbar-inverse {
    background-color: #fff;
    border-color: #fff;
	border-right: 2px solid #000;
    border-top: 2px solid #000;
}
header.navbar-inverse .navbar-inverse .navbar-collapse{
    border-color: #fff;
	padding: 15px;
}
header.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #33A266;
}
header.navbar-inverse .navbar-toggle {
    border-color: #333;
    border: none;
}
header.navbar-inverse .navbar-brand {
    padding: 10px 15px;
	    width: 100%;
}
header.navbar-inverse .navbar-brand>img {
    margin: auto;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}
	/*** LOGO ***/
	#logo {
		width: 240px;
		height:auto;
		border-right:1px solid #ccc;
		line-height:76px;
		-webkit-box-shadow: 6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		-moz-box-shadow:    6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		box-shadow:         6px 0px 9px 0px rgba(165, 165, 165, 0.07);
	}
	
	/*** HEADER SEARCH ***/
	#header #header-search {
		position: absolute;
		left: 255px;
		width: auto;
	}
	#header #header-search input {
		border:none;
		font-size:16px;
		letter-spacing:0.5px;
		line-height:78px;
		height:78px;
		width: 97%;
		margin-left: 23px;
		background: inherit;
	}
	#header-search input:focus {
		outline:none;
	}
	#header-search .search-icon {
		color:#bbb;
		position: absolute;
		top: 32px;
		cursor: pointer;
	}
	
	/*** HEADER SOCIAL ***/
	#header #header-social {
		width:225px;
		float: right;
		text-align: right;
		height:79px;
		border-left:1px solid #ccc;
		line-height:30px;
		-webkit-box-shadow: -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		-moz-box-shadow:    -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		box-shadow:         -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
	}
	
	#header-social a {
		color:#bbb;
		font-size:14px;
		margin-left:10px;
	}
	#header-social a:hover{
		color:#e73737
	}
	
/*** NAVIGATION ***/
#navigation-wrapper {
	margin:20px 0;
}
#navigation-wrapper .container{
	background:#fff;
padding:20px 0;
border:1px solid #dbdbdb;	
}
#navigation-wrapper .container ul{
margin:0 0 0 20px;
clear:both;
}
.navbar-collapse{
	margin-right: -15px!important;
	margin-left: -15px!important;
}
.navbar-toggle .icon-bar{
	background:#FFF
}

#navigation-wrapper ul.menu {
	margin-bottom:0;
	width: 100%; 
}
#navigation-wrapper ul.menu li {
	padding:0;
}

#navigation-wrapper ul.menu li a {
	color:#FFF;
	font-family:Lato, sans-serif;
	text-transform:uppercase;
	font-size:11px;
	font-weight:700;
	letter-spacing:1px;
	height:56px;
	display:block;
	line-height:56px;
	padding:0 14px;
	background: none;
}
	
#navigation-wrapper ul.menu li ul li a {
	height:30px;
	line-height:30px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:0;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:9px;margin-right:-6px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
	
.navbar-nav>li>.dropdown-menu {
  z-index: 999999999;
}
#navigation-wrapper ul.menu li:hover{
	background:rgba(0,0,0, .2);
}
#navigation-wrapper ul.menu li a:hover{
	background:none;
}
#navigation-wrapper ul.menu li.active a {
	background:rgba(0,0,0, .2);
}

#navigation-wrapper ul.menu li.search-form{
	float: right;
}
#navigation-wrapper ul.menu li.search-form:hover{
	background:none;
}

#navigation-wrapper ul.menu li.search-form form{
    color: #FFF;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 56px;
    display: block;
    line-height: 56px;
    background: none;
}
#navigation-wrapper ul.menu li.search-form form input[type="text"]{
	padding-right: 30px;	
}
#navigation-wrapper ul.menu li.search-form .form-group{
	position:relative;
}
#navigation-wrapper ul.menu li.search-form .form-group span{
	position:absolute;
	right: 6px;
	top: 23px;
	color: #4C5358;
	font-size: 15px;
}

@media (max-width: 767px){
	#navigation-wrapper ul.menu li.search-form{
	    float: none;
	    margin: 0;
	    padding: 13px;
	}	
	#navigation-wrapper ul.menu li.search-form .form-group span{
		display:none;
	}
}
/*** SECTION HEADER ***/
.section-header {
	overflow:hidden;
	margin-bottom:20px;
margin-top:10px;
}

.section-header h3 {
	color:#33A266;
	font-size:20px;
	
	letter-spacing:0px;
	margin:0;
	font-weight:300;
	font-family:Lato, sens-serif;
	float:left;
	margin-top:3px;
}

.section-header h3 i {
	font-size:13px;
	background:#E73737;
	color:#fff;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	border-radius:50%;
	letter-spacing:0;
	margin-right:2px;
	vertical-align:middle;
	margin-top:-3px;
}

.section-header h3 i.fa-play {
	font-size:9px;
}
.section-header h3 a{
	color:#888;
}
.section-header h3 a:hover{
	text-decoration: none;
}
.section-header .section-nav {
	float:right;
	position: static;
	width: auto;
	margin: 0;
}

.section-header .section-nav .bullet {
	background:#ddd;
	width:13px;
	height:13px;
	display:inline-block;
	border-radius:50px;
	border: 0;
	margin: 0;
}
.section-header .section-nav .bullet.active {
	background:#e73737;
}

a.viewmore {
	padding:5px 8px 6px 8px;
	font-size:10px;
	background:#E73737;
	color:#fff;
	font-weight:700;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:5px;
	margin-top:1px;
	display:inline-block;
}
a.viewmore:hover {
	text-decoration:none;
	color:#fff;
	opacity:.9;
}
a.viewmore i {
	font-size:12px;
}


/*** FEATURED WRAPPER ***/
.featured-wrapper {
	background:#f2f2f2;
	padding:30px 0 0;
	margin-bottom:30px;
}
.featured-wrapper .col-sm-3, .featured-wrapper .col-sm-4, .featured-wrapper .col-sm-2{
	margin-bottom:30px
}

.feat-item {
	position:absolute;
	bottom:0;
	left:15px;
	right:15px;
	height:120px;
	background:url(img/feat-bg.png) repeat-x bottom;
	max-width: 360px;
}
.feat-item .feat-info {
	padding: 38px 20px 0 20px;
}
.feat-item h3 {
	margin-bottom:4px;
	overflow: hidden;
}
.feat-item h3 a{
	color:#FFF;
	font-size:17px;
	font-weight:700;
	white-space: nowrap;
}
	
/*** ITEMS ***/
.video-section {
	margin-bottom:30px;
}

.item.big.list {
	margin-bottom:60px;
}

.carousel-inner .item.active .row:last-child{
	margin-bottom:-30px;
}
.carousel-inner .post { 
	margin-bottom:30px;
}
.carousel-inner .post .post-header {
 	margin-bottom:0;
}
.video-section .post, .widget .post { margin-bottom:30px; }
.video-section .post .post-header, .widget .post .post-header { margin-bottom:0; }
.video-section .item, .widget .item {
	margin-bottom:30px;
}

.video-section .item,.widget .item {
	margin-bottom:30px;
}
.video-section .item h3,.widget .item h3 {
	margin:0;
	line-height:21px;
	margin-bottom:4px;
	overflow: hidden;
}

.video-section .item h3 a,.widget .item h3 a {
	font-size:13px;
	color:#000;
	font-weight:700;
	overflow: hidden;
}

.video-section .item img,.widget .item img{
	margin-bottom:5px
}
.loading-wrapper button{
	width: 100%;
}

.loading-wrapper .loading-more-icon{
	background: transparent;
}
.item .meta, .feat-item .feat-info .meta {
	font-size:12px;
	font-family:"Lato", sans-serif;
	color:#999;
	overflow:hidden;
	width: 100%;
}

.item .meta .date, .feat-item .feat-info .meta .date {
	float:left;
}
.item .meta .views, .feat-item .feat-info .meta .views {
	float:right;
}
.item .meta .fcomments, .feat-item .feat-info .meta .fcomments {
	float:right;
	margin-right:9px;
}
.item .meta .heart, .feat-item .feat-info .meta .heart {
	float:right;
	margin-right:10px;
color:#e73737;
}

.item .meta .views i, .feat-item .feat-info .meta .views i {
	font-size:12px;
	margin-right:3px;
	color:#b5b5b5;
}
.item .meta .heart i, .feat-item .feat-info .meta .heart i {
	font-size:10px;
	margin-right:3px;
	color:#e73737;
}
.item .meta .fcomments i, .feat-item .feat-info .meta .fcomments i {
	font-size:12px;
	margin-right:3px;
	color:#b5b5b5;
}
.item .meta .fcategory{
	display: block;
    margin: 7px 0 0 0;
    float: left;
}

.item .meta .fcategory a{
	margin-left: 5px;
}
.item .meta .fcategory i{
	margin-right: 3px;
}
.item .meta .fcategory a{
	color: #999
}

.feat-item .feat-info .meta .fcategory{
    float: none;
    margin: 0 0 0 12px;
    display: inline-block;
    overflow: hidden;
}
/*** ITEM LIST ***/

.item p {
	font-size:12px;
	line-height:19px;
}

.item p a {
	font-weight:700;
	color:#e73737;
}
.item p a i {
	font-size:14px;
	margin-right:4px;
}

.item.list h3 a {
	font-size:17px;
	margin-bottom:6px;
	display:block;
}

.item.list .meta {
	margin-bottom:12px;
	padding-bottom:12px;
	border-bottom:1px solid #eee;
	max-width: 10000px;
}

/*** Big list ***/
.item.list.big img {
	margin-bottom:12px;
}

.social-share-buttons > div{
	margin: 0px 0px 10px 0px;
}
.social-share-buttons > div > a > img{
	width:30px;height:auto;
}

/** IMG hover **/
.item-img {
	position:relative;
}
.item-img img{
	width: 100%;
	height: auto;
}
.img-hover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000 url(img/play-icon.png) no-repeat center center;
	opacity:0;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.img-hover.big { background:#000000 url(img/play-icon-big.png) no-repeat center center; }
.item-img:hover > a .img-hover {
	opacity:.75;
}


/*** SIDEBAR ***/

	.sidebar .widget_recent_entries ul li{
		font-size:13px;
		margin-bottom:4px;
		margin-left: -30px;
		list-style: none;
	}
	.sidebar .widget_recent_entries ul li:before{
	  content: '\f0da';
	  font-family: 'FontAwesome';
	  margin-right: 6px;
	}
	.sidebar .widget_recent_entries ul li a{
		color: #000;
	}
	/*** WIDGETS ***/
	.widget {
		overflow:hidden;
		margin-bottom:30px;
	}
	
	.widget ul li {
		font-size:13px;
		margin-bottom:4px;
	}
	.widget ul li a{
		color: #000;
	}
	.widget p {
		font-size:12px;
		line-height:19px;
	}
	
	.widget h4.widget-title, .sidebar .wpb_wrapper .widget-title, .sidebar .widget .widgettitle{
		background:#e73737;
		border-left:8px solid rgba(0,0,0,.2);
		color:#FFF;
		margin:0 0 20px 0;
		padding:13px 10px 14px 10px;
		font-family:Lato, sans-serif;
		font-weight:400;
		text-transform:uppercase;
		letter-spacing:1px;
		font-size:14px;
	}
	h4.widget-title a{
		color: #fff;
	}
	h4.widget-title a:hover{
		text-decoration: none;
	}
	.sidebar .wpb_wrapper .widget-title{
		width: 100%;
	}
		/*** Social Widget ***/
		.social-counter-item {
			text-align: center;
			width: 22.5%;
			float: left;
			margin-right: 3.3%;
		}
		.social-counter-item.last {
			margin-right:0;
		}
		.social-counter-item:nth-child(5){
			margin-right: 0;
		}
		.social-counter-item i {
			width:100%;
			height:75px;
			background:#eee;
			color:#aaa;
			font-size:28px;
			text-align:center;
			line-height:75px;
			margin-bottom:5px;
		}
		.social-counter-item i.fa:hover{
			color:#fff;
		}
		.social-counter-item i.fa-facebook:hover {
			background:#3B5998;
		}
		.social-counter-item i.fa-twitter:hover {
			background:#00ABF0;
		}
		.social-counter-item i.fa-google-plus:hover {
			background:#DA4835;
		}
		.social-counter-item i.fa-rss:hover {
			background:#FF6600;
		}
		.social-counter-item i.fa-instagram:hover {
			background:#517fa4;
		}
		.social-counter-item i.fa-youtube:hover {
			background: #bb0000;
		}
		.social-counter-item i.fa-soundcloud:hover {
			background: #f50;
		}
		.social-counter-item i.fa-pinterest:hover {
			background: #c11a22;
		}
		.social-counter-item i.fa-tumblr:hover {
			background: #32506d;
		}
		.social-counter-item i.fa-vimeo:hover {
			background: #4bf;
		}
		.social-counter-item i.fa-linkedin:hover {
			background: #517fa4;
		}
		.social-counter-item a {
			color:#999;
		}
		.social-counter-item a:hover {
			text-decoration:none;
			color:#444;
		}
		.social-counter-item span.counter {
			font-size:15px;
			font-weight:700;
			display:block;
			margin-bottom:-3px;
		}
		.social-counter-item span.counter-text {
			font-size:12px;
		}
		
		.list-unstyled.social{
			text-transform: capitalize;
		}
		
	/*** Tags ***/
	.mars-keycloud-widgets a,
	.tagcloud a,
	a.tag {
		background:#eee;
		color:#b5b5b5;
		padding:4px 6px;
		margin:0 4px 8px 0;
		display:inline-block;
		font-size:11px;
		text-transform:uppercase;
		letter-spacing:1px;
	}
	
	/*** Social List ***/
	ul.social li i{
		width:20px;
		font-size:14px;
	}
		
/*** FOOTER ***/
#footer {
	background:#111;
	padding:20px 0 10px 0;
border-top:1px solid #d4d4d4;
margin-top:20px;
}
#footer ul li a,#footer p{
 color:#999;
font-size:14px;
		
}

	/*** Footer widgets ***/
	h4.footer-widget-title {
		color:#FFF;
		font-size:14px;
		letter-spacing:2px;
		font-weight:700;
		text-transform:uppercase;
		margin-bottom:20px;
	}
	
	#footer .widget ul li a, #footer .widget p a {
		color:#bbb;
	}
	
	#footer .widget p {
		color:#777;
	}
	
	/*** Tags **/
	.tagcloud a{
		background: #eee;
	}
	#footer .mars-keycloud-widgets a,
	#footer .widget a.tag {
		background:#333;
		color:#888;
	}
	.tagcloud a:hover,
	#footer .mars-keycloud-widgets a:hover,
	#footer .widget a.tag:hover {
		background:#e73737;
		color:#fff;
		text-decoration:none;
	}

	
/*** FOOTER COPYRIGHT ***/
.copyright {
	border-top:1px solid #222;
	padding-top:20px;
	margin-top:20px;
}
.copyright p {
	font-size:12px;
	color:#7E7B7B;
}

/*** VIDEO PAGE ***/
.video-wrapper {
	margin-top:-30px;
	padding:30px 0;
	background:#111;
	margin-bottom:30px;
}

.video-info {
	margin-top:10px;
	margin-bottom:20px;
	overflow:hidden;
}
#breadcrumbs,
#breadcrumbs a{
	color: #333;
}
.large #breadcrumbs,
.large #breadcrumbs a{
	color: #fff;
	font-size: 14px;
}
.post-password-form{
	color: #666;
}
.small #breadcrumbs a{
	color: #333;
	font-size: 14px;
}
.video-info h1 {
	margin:0;
	font-size:17px;
	color:#fff;
	float:left;
}

.video-info span.views {
	float:right;
	color:#888;
	font-size:16px;
	line-height:30px;
}
.video-info span.views i {
	margin-right:4px;
}

.video-info span.likes,.video-info span.dislikes {
	float:right;
	color:#666;
	font-size:16px;
	line-height:30px;
	margin-right:15px;
}
.video-info span.likes i, .video-info span.dislikes i {
	margin-right:4px;
}
.video-info span.likes {
	color:#4aad51;
}
.video-info span.dislikes {
	color:#f85043;
}


.video-options .col-xs-6{
	margin-top:10px;
}
.video-options .col-xs-6.box-share{line-height: 20px;}
.video-options .option {
	border:1px solid #e5e5e5;
	display:block;
	text-align:center;
	padding:7px 6px 7px 6px;
	color:#999;
	
}
.video-options .option:hover {
	text-decoration:none;
	border:1px solid #ccc;
	color:#666;
}
.video-options .option:hover i {
	color:#666;
}

.video-options .option i {
	font-size:20px;
	display:block;
	margin-bottom:4px;
	color:#b5b5b5;
}

	/*** POST ENTRY ***/
	.post-entry {
		margin-bottom:28px;
	}
	.post-entry p{
		line-height:23px;
		margin-bottom:18px;
	}
	.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
		margin-bottom:18px;
	}
	.post-entry > ul > li:last-child, .post-entry > ol > li:last-child  {
		margin-bottom:18px;
	}
	.post-entry .categories-video .btn-group{
		width: 100%;
	}
	.post-entry .categories-video .btn-group .multiselect{
		width: 100%;
	}
	.post-entry .categories-video .btn-group .multiselect-container{
		background: #fff!important;
		width: 40%;
	}
	.post-entry .categories-video .btn-group .multiselect-container input{
		width: auto!important;
	}
	img.alignright {float:right; margin:0 0 1em 1em}
	img.alignleft {float:left; margin:0 1em 1em 0}
	img.aligncenter {display: block; margin-left: auto; margin-right: auto}
	a img.alignright {float:right; margin:0 0 1em 1em}
	a img.alignleft {float:left; margin:0 1em 1em 0}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.video-details {
	margin-bottom:30px;
    border:1px solid #dbdbdb;
    padding:10px;
    float: left;
    width: 100%;
    display: block;
	
}
.video-details .date {
	font-weight:700;
	display:block;
	margin-bottom:5px;
}

.video-details .meta, .post-info .meta {
	text-transform:uppercase;
	font-size:11px;
	display:block;
	line-height: 27px;
}
.video-details .meta .meta-info, .post-info .meta .meta-info {
	background:#ccc;
	color:#626262;
	padding:5px 7px;
}
.video-details .meta a, .post-info .meta a {
	
	color:#999999;
	padding:5px 7px;
border:1px solid #ccc;
}
.video-details .meta a:hover, .post-info .meta a:hover {
	text-decoration:none;
	background:#555;
	color:#fff;
}

/*** Video small ***/
.video-info.small h1 {
	color:#000;
}
.player {
	margin-bottom:25px;
	/*z-index: 999;*/
}
.player .kgvid_wrapper{
	margin-top: 0;
}

/*** COMMENTS ***/
.comments {
	margin-bottom:40px;
	float: left;
    width: 100%;
    display: block;
}

.comment-form .form-group input {
	width:50%;
}

	/*** user comments ***/
	.comment-list {
		margin-bottom:30px;
	}
	
	.comment {
		
	}
	
	.the-comment {
		overflow:hidden;
		margin-bottom:20px;
	}
	.the-comment .avatar {
		float:left;
		margin-right:12px;
	}
	.the-comment .comment-content span.author a {
		font-size:13px;
		font-weight:700;
		margin-bottom:4px;
		/*display:block;*/
		color: #33A266;
	}
	.the-comment .comment-content span.author small {
		font-weight:400;
		color:#999;
	}
	.the-comment .comment-content p {
		font-size:12px;
	}
	
	.the-comment .comment-content a.reply, .the-comment .comment-content a.edit {
		font-size:11px;
		display:block;
		letter-spacing:1px;
		color:#aaa;
		margin-top:-2px;
		margin-right:8px;
		float:left;
	}
	
		/*** Comment nesting ***/
		.comment ul {
			margin-left:30px;
		}
		
/*** BLOG ***/
.post {
	margin-bottom:60px;
}

.post .blog-date {
	text-align:center;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
}
.post .blog-date .day {
	font-size:30px;
	line-height:22px;
	color:#888;
}
.post .blog-date .month {
	text-transform:uppercase;
	color:#bbb;
	letter-spacing:1px;
	font-size:16px;
	margin-right:-2px;
}

.post .post-header {
	margin-bottom:20px;
}
.post .post-header h2 a {
	color:#000;
}
.post .post-header .post-meta, .post .post-header .post-meta a, .post-meta a {
	color:#aaa;
	font-size:12px;
}
.post .post-header .post-meta i{
	font-size:14px;
	color:#c5c5c5;
	margin-right:3px;
}
.post .post-header .post-meta .sep {
	margin:0 12px;
	color:#ccc;
}
.post .post-excerpt{
	margin-top: 20px;
}
.post .post-excerpt p{
    line-height: 23px;
    margin-bottom: 18px;
    font-size: 14px;	
}
.post-entry a.readmore {
	background:#E73737;
	padding:10px 12px;
	border-radius:3px;
	color:#FFF;
	font-size:11px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
}
.post-entry a.readmore:hover {
	text-decoration:none;
	opacity:.9;
}

.post-tags a.tag {
	padding:6px 10px;
	color:#999;
}

	/*** Pagination ***/
	.pager li > a {
		color:#888;
		border:1px solid #ccc !important;
	}
	
/*** BROWSE & CATEGORIES ***/
.browsing {
	display:block;
	color:#b5b5b5;
	font-size:9px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:-1px;
}

.sorting {
	margin-top:10px;
	padding-left: 0;
}
.sorting li {
	display:inline-block;
	margin-bottom: 15px;
}
.sorting li a {
	padding:4px 8px;
	color:#999;
	font-size:12px;
        border:1px solid #dbdbdb;
        border-radius:5px;
        margin-right:5px;
}
.sorting li.active a, .sorting li:hover > a {
	background:#E73737;
	color:#fff;
	border-radius:5px;
}
.sorting li a:hover {
	text-decoration:none;
}
.sorting li.sort-text {
	font-weight:700;
	color:#555;
	font-size:12px;
	margin-right:6px;
}

	/*** pagination ***/
	.pagination span.current,
	.pagination>.active>a {
		background:#ed1c24 !important;
		border:none !important;
		color:#22b14c !important;
        margin-right:8px;
		border-radius:50% !important;
	}
	.pagination>li>a, .pagination>li>span {
		color:#ed1c24 !important;
		background:#22b14c !important;
		border:none !important;
		border-radius:50% !important;
		font-size: 20px;
        font-weight: bold;
		padding: 6px 13px;
	}
	.next.page-numbers, .prev.page-numbers{border-radius:0 !important;}
ul.post-tape li{
	margin-top:6px;
}
ul.post-tape li a{
	border-radius:0!important;
	background:none;
	border:none;
}	

.videoWrapper {
	z-index: 100000;
	position: relative;
}
.videoWrapper video{ width: 100%; height: 100%; max-width: 100%; }
.videoWrapper .wp-video{width: 100% !important;}
#lightoff {
  display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: .90; z-index:10;
}
.videoWrapper object{
	width: 100%;
	height: 100%;	
}
.videoWrapper embed{
	width: 100%;
	height: 100%;	
}
video.wp-video-shortcode, .wp-video-shortcode video{
	height: auto;
}
.video-page-builder img{
	width: 100%;
}
.carousel .meta,.widget .col-sm-6 .meta,.meta-maxwidth-230 .meta{
	max-width:230px
}
.featured-wrapper .meta,.widget .meta,.meta-maxwidth-360 .meta{
	max-width:360px
}

.dropdown-menu{
	background: #4c5358;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: rgba(0,0,0, .2)
}

@media (min-width:767px) {
	ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
		display: block;    
	}
}

@media (max-width:1023px) {
	.feat-item h3 a{
		font-size:12px;
		white-space: nowrap;
	}
	.video-section .item h3 a, .widget .item h3 a{
		font-size:11px;
		overflow: hidden;
                
	}
	.item .meta, .feat-item .feat-info .meta{
		font-size:10px
	}
}

@media (max-width:767px) {
	.container{
		max-width:100%
	}
	#logo{
		width:100%;
		border-right: 0;
		box-shadow: none
	}
	#header-search{
		position: relative;
		left:0;
		right:0;
		overflow: hidden;
		padding-top: 12px;
		width: 105px;
		
	}
	.cat-text{    
	padding: 11px 0px;
    float: left;
    font-weight: bold;
	color:#33A266;
	}
	header #header-search input{width: 80px;}
	header #header-search .search-icon {
	    line-height: 2.3;
}
	#header-social{
		position: absolute;
		line-height: 52px;
		height: 52px;
		border-left: 0;
		text-align: left;
		box-shadow: none;
	}
	#header-social a{
		margin-left:0;
		margin-right:0px
	}
	.navbar-collapse {
		max-height: 1000px!important
	}
	.wpb-js-composer .wpb_row{
		margin-left: -15px!important;
    	margin-right: -15px!important;
	}		
	
}
.item .meta .fcomments, .feat-item .feat-info .meta .fcomments{
    display:none;
}
@media screen and (max-width: 30em) {
    .meta .date{display:none;}
}
 @media screen and (max-width: 60em) {
    .meta .date{display:none;}
}
@media (max-width: 767px){
  #logo {
    text-align: center;
	line-height:60px;
    } 
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
@media screen and (max-width: 75em),
@media screen and (max-width: 53.75em) {
    #gallery-1 .gallery-item{
        width: 50%!important;
    }     
 }
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption{}
.bypostauthor{}
.channel-header,.profile-widget-header {
	float:left;
	width:100%;
	border:1px solid #eee;
	padding:12px;
	margin-bottom:25px;
}
.channel-image, .profile-widget-image {
	float:left;
	margin-right:16px;
}
.channel-info h3, .profile-widget-info h3 {
	display:block;
	margin-bottom:14px;
	margin-top:9px;
	float:none;
}
.profile-widget-info h3{
	font-size: 18px;
}
.channel-item, .profile-widget-info-item{
	display:inline-block;
	border:1px solid #eee;
	color:#999;
	font-size:12px;
	padding:3px 7px;
	margin-right:5px;
	margin-bottom:5px;
}
.profile-widget-info-item a{
	color: #000;
}
.wpb-js-composer .wpb_row{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.vc_responsive .wpb_row .vc_span9{
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.vc_column_container {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.vc_column_container.sidebar{
	padding-left: 0px!important;
	padding-right: 0px!important;	
}

.columns-1 .col-sm-12 img{
	width: 100%;
	height: auto;
}

.register-terms input[name="terms_required"]{
	margin-right: 8px;
}
#subscrib-modal{
	z-index: 99999999;
}
.screen-reader-text {
		
}

.player-large.embed-responsive-twitter .twitter-video{
	max-width: 100%!important;
	height: auto;
}

/* add by kabir */
#header-social .btn-danger{
background:#e73737;
width:84px;
height:33px;
font-weight:bold;
}
#header-social a.btn-danger{
color:#fff;
}
#header-social .btn-danger a:hover{
color:#fff !important;
}  
#header-social .btn-default{
border:1px solid #008b40;
width:84px;
height:33px;
color:#008b40;
font-weight:bold;

} 
.reg_m .btn-default,.reg_m .btn-danger{
margin-top:20px;
}
#header-social .btn-default a{
color:#008b40;
}
.menu_cat{
background:#ccc;
padding:0 !important;
width:129px;
border:1px solid #ccc;
border-radius:4px;
margin-right:11px;
}
.menu_cat:hover {
    background: #33A266 !important;
    border: 1px solid #33A266;
-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.menu_cat:hover h4{
background:none;
}

.menu_cat p{
height:56px;
line-height:56px;
}
.menu_cat h4{
background:#efefef;
height:40px;
line-height:40px;
width:100%;
margin:0;
padding:0;

}
.menu_cat a:hover h4{
color:#000;

}

.menu_cat a:hover,.menu_cat a:focus {
text-decoration:none !important;
outline:none !important;
}
.menu_cat h4{
color:#333;
 font-size: 14px;
}
.explore p,.explore a{
color:#333;
font-weight:bold;
}
.home_right .item-img{
width:50%;
float:left;
margin-right:10px;
}
.home_right .video-section{
margin-bottom:0px;
}
.home_right .item{
border-bottom:1px solid #ccc;
margin-bottom: 15px;
    padding-bottom: 15px;

}
.home_right .widget-title{
background-color:#e73737 !important;
color:#fff;
padding:10px 5px; 
font-weight:bold;
}
.home_right h3{
line-height:12px !important;
}
.home_right h3 a{
color:#33a266 !important;
 font-family: Open Sans !important;

}


.main-content{
background-color:#fff;
border:1px solid #ccc;
}
.pagination > li > a{
margin-right:4px;
color:#000;
}
.sign_in{
background:#e73737;
width:120px;
height:33px;
font-weight:bold;
}
.pagination > .active > a{
background:#fff;
border:1px solid #008b40;
}

/*======cat sideber======*/
.cat_right{
background:#fff;
border:1px solid #ccc;
padding:0;
width: 23.2%;
/*margin-left:20px;*/
float:right;
}
.cat_right .item-img{
width:50%;
float:left;
margin-right:10px;
}
.cat_right .video-section{
margin-bottom:0px;
}
.cat_right .item{
border-top:1px solid #ccc;
min-height:150px; 
padding:10px;
margin-bottom:0;
}
.cat_right .widget-title{
background-color:#e73737 !important;
color:#fff;
padding:10px 5px; 
font-weight:bold;
}

.cat_right h3{
line-height:12px !important;
}
.cat_right h3 a{
color:#33a266 !important;
 font-family: Open Sans !important;

}
.cat_right .widget-title{
background-color:#e73737 !important;

width:50%;
}
.cox_btn{
 background-image: url("img/sign_bg.jpg") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-bottom: 10px !important;
    padding-top: 126px !important;
}
.cox_btn a{
font-size:18px !important;
color:#fff;
padding:5px 30px !important;
font-weight:bold;
border-radius:0;
margin-left:70px;
}
.video-section .item h3 a, .widget .item h3 a{
color:#33A266;
}


.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}
/*=====reg============*/

.reg_hdr{
background:#fff;
padding:15px 0  10px 0;
border-bottom:3px solid #008b40;
}

.reg_hdr #header-social{
height:30px;
line-height:30px;
border-left:none;
}

/*.reg_home a{
	border:1px solid #008b40;
	border-radius:3px;
	padding: 8px 15px;
	font-size: 16px;
	color: #008b40;
}*/
#logbox h2{
color:#008b40;
font-size:20px;
}
 ::selection {
  background-color: #b5e2e7;
}

::-moz-selection {
  background-color: #8ac7d8;
}

.reg_log{
border-top:3px solid #008b40 !important;
}
#logbox {
  padding: 10px;
  margin: 50px auto;
  width: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-top:3px solid #e73737;
}

#logbox {
  padding: 20px;
   background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-top:3px solid #e73737;
}

.input {
  width:100%;
  height: 40px;
  display: block;
 box-shadow:none;
  border: none;
  border-bottom: 1px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #3CC !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.reg_log .inputButton {
  position: relative;
  width: 94%;
  height: 43px;
  display: block;
  margin: 30px auto 10px;
  color: white;
  background-color: #008b40;
  border: none;

}
.inputButton {
  position: relative;
  width: 94%;
  height: 43px;
  display: block;
  margin: 30px auto 10px;
  color: white;
  background-color: #e73737;
  border: none;

}
.inputButton:hover {
 
  background-color: #0aa04f;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}

#logbox b{
color:#e73737;
}
.sgn h2{
color:#e73737 !important;
}
.reg_bg{
 background-image: url("img/reg_bg.jpg") !important;
min-height:606px;
}
.box-like .option2{
padding:4px 5px;
}
/*============*/
#logbox h3{
 text-transform: uppercase;
color: #008B40;
}
#logbox .form-group{
margin-bottom:0;
}
.video-info .alert-info{
text-align:right;
font-size:14px;
background-color:#fff;
border:none;
}
.video-info .alert-info a{
color:#E73737;
}


@media (max-width:767px) {
#header-social{
 position: inherit;
 }
 .reg_m .btn-default, .reg_m .btn-danger{
 margin-top:0;
 }
 .cat_right{
 width:100%;
margin-left:0;
 }
 .explore{
 width:100%;
overflow: hidden;
 }

.menu_cat{
width:100%;
margin-bottom:14px;
}
#navigation-wrapper .container ul{
margin-right:20px;
}
.cat_right {
   
    margin-left: 0px;
}
#header #header-social{
width:77%;
margin:0 auto;
}
}
@media (max-width:481px)  {
#header-social{
 position: inherit;
 }
 .reg_m .btn-default, .reg_m .btn-danger{
 margin-top:0;
 }
 .cat_right{
 width:100%;
margin-left:0;
 }
 .explore{
 width:100%;
overflow: hidden;
 }
.menu_cat{
width:100%;
margin-bottom:14px;
}
#navigation-wrapper .container ul{
margin-right:20px;
}
.cat_right {
  
    margin-left: 0px;
}
#header #header-social{
width:77%;
margin:0 auto;
}
}
/********Css by Devprovider*************/
 @media screen and (max-width: 767px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:60px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
			  overflow-y:auto;
              transition:width .4s;
			  min-height: 300px;
			  z-index: 9999999999999;
          }
          .side-collapse.in {
              width:0;
          }
		  .navbar-toggle{display:block; margin-top:5px;padding: 9px 0px;margin-right: 7px;}
		  .home .pakf{display:none;}
		  .home .sidebar.cat_right #text-4{display:none;}
		  .menu-footer-filter{text-align:center;}
		  .mature-content-filter{text-align:center;}
		  .mars_copyright{text-align:center;}
		  a.reg_home{
			border:1px solid #008b40;
			border-radius:3px;
			    padding: 6px 15px;
			font-size: 16px;
			color: #008b40;
			}
			#header-social .btn-danger { margin-top: -3px;}
			.reg_log #wpcrlLoginForm .form-group{display:none;}
.reg_log #wpcrlLoginForm .inputButton[type=submit]{display:none;}
.reg_log #wpcrlLoginForm #btnForgotPassword{display:none;}
.reg_log #wpcrlLoginForm .inputButton[type=submit] + p.text-center{display:none;}
#wpcrlLoginSection .col-xs-8.col-md-10{width:100% !important}
.reg_hdr {
    background: #fff;
    padding: 0px 0 10px 0;
}
.reg_hdr .navbar-brand {
    margin-bottom: 15px;
}
.reg_hdr #header-social{text-align:center;}
.reg_hdr #header-social a{float:none !important;}
.home .pagination{padding: 0px 15px;}

}

header #navigation-wrapper{margin-top:0px;}
header #navigation-wrapper .list-inline {
    margin-left: 0px;
    width: 100%;
	padding: 15px;
}
header #header-search input {
    font-size: 11px;
	border:none;
		letter-spacing:0.5px;
		margin-left: 23px;
		background: inherit;
}
header #header-search .search-icon {
    top: 5px;
}
header #header-social {
    position: relative;
    line-height: initial;
    height: auto;
    border-left: 0;
    text-align: left;
    box-shadow: none;
	margin-bottom: 0px;
	padding-top: 12px;
	
}
header #header-social li {list-style:none;}
header #header-social a {
    padding: 8px 10px;
    margin-left: 0px;
    list-style: none !important;
    border: 1px solid #008b40;
    width: auto;
    height: auto;
    color: #008b40;
    font-weight: bold;
    border-radius: 4px;
	font-size:100%;
	
}
header #header-social #menu-sign-up-1 a {
	margin-right: 5px;	
}
.pakf {
    width: auto !important;
}
.pakf li{ list-style:none !important;}
header .pakr {
    float: right;
}
header .pakl {
    float: right;
}
header #header-social ul{padding:0;}
@media (min-width: 569px){
.page-id-1893 p.form-submit {
    width: 69.9%;
	float:right;
	text-align:left;
}

}
@media (max-width: 568px){
.section-header h3 {
    font-size: 16px;

}
.sorting li a {
    padding: 4px 5px;
    font-size: 11px;
}
.page-id-1893 p.form-submit {
    width: 100%;
	text-align:left;
}
header #header-social a {
    padding: 7px 6px;
}
header #header-social #menu-sign-up-1 a {
	margin-right: 5px;	
}
}
@media (max-width: 480px){
	#logbox{width:100% !important}
	.menu-footer-filter .list-inline>li{width:100%;}
}
@media (max-width: 320px){
	header #header-social #menu-sign-up-1 a {
	margin-right: 5px;	
}
header #header-social a {
    padding: 5px 7px;
	font-size:80%;
	
}
header.navbar-inverse .navbar-brand {
    padding: 10px 0px;
}
#logbox{width:100% !important}
}
.homepage_logout_linkk{
	    text-align: right;
    /*font-size: 9px;*/
    margin-bottom: 10px;
    padding: 0;
}
#header-social a {
    color: #bbb;
    font-size: 14px;
    margin-left: 10px;
  min-width:84px !important;
  position:relative;
font-family: sans serif !important;
}
#menu-item-2539 > a {
    background: #e73737 none repeat scroll 0 0;
    font-weight: bold;
    height: 33px;
    width: 84px;
  border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
   font-size: 14px;
    margin-left: 10px;
   border-color: #761c19;
   outline: thin dotted;
    outline-offset: -2px;
  color:#fff;
}
#menu-item-2539 > a:hover{
 background: #c9302c none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
#menu-item-2540 > a{
  border: 1px solid #008b40;
    color: #008b40;
    font-weight: bold;
    height: 33px;
    list-style: outside none none !important;
    margin-left: 10px;
    width: 84px;
  border-radius: 3px;
   font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
}
#menu-item-2542 > a{
    border: 1px solid #008b40;
    color: #008b40;
    font-weight: bold;
    height: 33px;
    list-style: outside none none !important;
    margin-left: 10px;
    width: 84px;
  border-radius: 3px;
   font-size: 14px;
    line-height: 1.5;
    padding: 5px 10px;
}
#menu-item-2542 > a:hover{
   background: #c9302c none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
#menu-item-2540 > a:hover{
 background: #c9302c none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}

.pakr {
    float: left;
}
.pakr {
    float: left !important;
}
.pakf .menu-item-2539 a{
 background: #e73737 none repeat scroll 0 0;
    font-weight: bold;
    height: 33px;
    width: 84px;
  border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
   font-size: 14px;
    margin-left: 10px;
   border-color: #761c19;
   outline: thin dotted;
    outline-offset: -2px;
  color:#fff;
   min-width:84px !important;
  position:relative;
font-family: sans serif !important;
}
.pakf .menu-item-2539 a:hover{
 background: #c9302c none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.pakf .menu-item-2542{
 display:none; 
}
.fb-login-btn {
    background: #44b0ec;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    color: #fff;
    border-radius: 4px;
    position: relative;
    margin: 20px 0px;
    display: block;
}
@media screen and (max-width: 767px) {
.all_vidos_count{
	background:#f1f1f1;
	color:#282828;
	text-align:center;
	font-size:12pt;
	float:right;
	position:absolute;
	right:10px;
	top: 15px;
    border-radius: 20px;
    padding: 5px 15px 5px 10px;
	font-weight: 300;
}
.cat_right .all_vidos_count{
	background:#f1f1f1;
	color:#282828;
	text-align:center;
	font-size:12pt;
	float:right;
	position:absolute;
	right:10px;
	top: 56px;
    border-radius: 20px;
    padding: 7px 15px 7px 10px;
	font-weight: 300;
}
.mobile_list_inline{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
	
}
.mobile_list_inline .col-sm-3{
}
.mobile_list_inline h4 {
    font-size:9pt;
	color:#282828;
	margin-top:0px;
}
.videos_recent_front_page h3.widget-title{
	background:	#008000;
	color:#fff;
	text-align:center;
	border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	padding: 10px 18px;
}
.video-section .item h3 a{
	color:#282828;
}

.videos_recent_front_page .vc_column_container, .videos_recent_front_page .vc_column_container>.vc_column-inner {
     padding-left: 0px!important; 
     padding-right: 0px!important; 
}
.videos_recent_front_page .video-section{
	padding-left: 0px!important; 
     padding-right: 0px!important; 
}
.user_reg_btn_green{
	color:#fff !important;
	font-size:15pt;
	background-color: #006a4e !important;
	border-radius: 0px;
	float:left;
	width:100%;
	padding:10px;
	margin: 0px;
	position: fixed;
    bottom: 0px;
	display:none;
}
.user_reg_btn_green .btn-danger {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
	float: left;
}
.user_reg_btn_green img{margin-right: 15px;width: 30px;}
.mobile_bar_bott{
	background-color: #e73737;
	height:80px;
}
.mobile_bar_bott #header-search {
    position: relative !important;
    right:0 !important;
	left:0 !important;
    width: 100% !important;
	padding: 9px 0px !important;
	z-index: 99999999999999999;
	margin: 12px auto;
}
.mobile_bar_bott #header-search form {
    background-color: rgba(255,255,255,0.4);
	padding-left:10px;
	border-radius: 1em;
	width: 90%;
    float: left;
}
.mobile_bar_bott #header-search input {
    line-height: 40px !important;
    height: 40px !important;
    width: 91%;
    background-color: transparent !important;
    border: none;
    margin-left: 20px;
	-webkit-text-fill-color: #fff !important;
}

.mobile_bar_bott #dLabel2 {
    line-height: 47px;
	float: right;
}
.mobile_bar_bott #dLabel2 i{
    color: rgba(255,255,255,0.4);
	border-radius: 1em;
	padding: 0;
	font-size: 24px !important;
}
.mobile_bar_bott #dLabel2 i.fa-home{
    color: rgba(255,255,255,1);
}
.mobile_bar_bott #header-search .search-icon {
    color: #fff;
    top: 22px;
}
.mobile_bar_bott #header-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: rgba(255,255,255,0.4) !important;
}
.mobile_bar_bott #header-search::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.mobile_bar_bott #header-search:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.mobile_bar_bott #header-search:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
 .mobile_bar_bott #header-search #header-search input  {
	 -webkit-text-fill-color: #fff !important;
 }
 
.cat_right .widget-title, .cat_righ .widget-title {
    background-color: #22b14c !important;
	border-left:none !important;
	color:#fff !important;
	float:left;
	width:auto;
	border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	margin-right:34.3333% !important;
	padding: 13px 15px 14px 10px !important;
	font-weight: 300;
}
.cat_right, .cat_righ{
	border:none !important;
}
.cat_right .mars-videos-sidebar-widget{
	display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.cat_right .item {
   /* float: left;*/
	border-top:none;
/*	width: 50%;*/
	display: flex;
    flex-direction: column;
}
.cat_right .item-img {
    width: 100%;
    float: left;
    margin-right: 10px;
}
.cat_right h3{
	width: auto;
    float: left;
	color:#282828;
}
.cat_right .cox_btn{display: none;}
.cat_right .item .meta{
	float: left;
    width: 100%;
}
.item .meta .views{
	float: left;
}
.item .meta .views i{
	float: right;
}
.item .meta .views .fa-eye:before {
    content: " Views";

}
.item .meta .date{
    float: right;
	display:block;
	margin-right: 10px;
	padding-left:10px;
	position: relative;
}
 .item .meta .date:before {
	position:absolute;
    content: ".";
	left:0;
	font-size:30px;

}
 .item .meta .heart{
	display:none;
}
#footer {
    display: none;
}
body {
    background-color: #fff !important;
	overflow-x:hidden !important;
}
.home .main-content {
    border: none;
}
.mobile_bar_bott  .dropdown-menu {
    position: static;
	float:right;
    z-index: 1000;
    width: 50%;
    margin-top: 2.5%;
	background: #f1f1f1;
	border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0);
    box-shadow: 0 6px 12px rgba(0,0,0,0);
}
.mobile_bar_bott  .dropdown-menu li a {
    background:none;
	background-color:transparent;
    height: auto;
    width: 100%;
    border-radius: 0px;
    font-size: 12px;
    border:none;
    outline: none;
    outline-offset: 0;
    color: #fff;
}
.cat_right #text-3{
	display:none;
}
/*****Register Page********/
.reg_bg {
    background-image:none !important;
    min-height: auto;
	background-color:#fff;
}
.reg_bg .reg_log {
    border: none !important;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	padding:0;
}
.reg_bg .reg_log h3 {
	background: #006a4e;
	padding: 20px 0px;
    color: #fff !important;
    font-size: 14px;
	display:none;
	margin-top: 0px !important;
    margin-bottom: 20px !important;
}
.reg_bg .wpb_content_element{margin-bottom:0 !important;}
.reg_bg .fb-login-btn{
	background-color: #3b5998;
    border-radius: 0px;
	margin-top: 20px !important;
}
.reg_bg .reg_log .um-field-label, .reg_bg #logbox .um-field-label  {
    display:none;
}
.reg_bg .reg_log .um-2512.um .um-form input[type=text], .reg_bg .reg_log .um-2512.um .um-form input[type=tel], .reg_bg .reg_log .um-2512.um .um-form input[type=password], .reg_bg .reg_log .um-2512.um .um-form textarea {
    color: #282828 !important;
	border:none !important;
	border-bottom:1px solid rgba(40,40,40,0.64) !important;
	border-radius: 0px !important;
	webkit-box-shadow: none !important;
    -webkit-text-fill-color: #282828 !important;
}

.reg_bg .reg_log .um-field-c .um-field-checkbox {
    display:none;
}
.reg_bg .reg_log .um-right, .reg_bg #logbox .um-right{
    display:none;
}
.reg_bg .reg_log .um-col-alt-b {
    padding-top: 20px;
    display: none;
}
.reg_bg .vc_column_container>.vc_column-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.reg_hdr {
    border:none;
	padding: 0;
}
.reg_bg #logbox h3 {
    text-transform: capitalize;
    color: #e73737;
	text-align:center;
}
.reg_bg #logbox input[type=submit].um-button{
	background: #e73737;
	border-radius: 0px !important;
	width: 80%;
    display: table;
    margin: auto;
	line-height: 18px !important;
    padding: 9px 20px!important;
}
.reg_bg .reg_log  .um-2512.um input[type=submit].um-button{
	background: #006a4e;
	border-radius: 0px !important;
	width: 80%;
    display: table;
    margin: auto;
	line-height: 18px !important;
    padding: 9px 20px!important;
}
.reg_bg #logbox .um-form input[type=text], .reg_bg #logbox .um-form input[type=tel], .reg_bg #logbox .um-form input[type=password], .reg_bg #logbox .um-form textarea {
    color: #282828 !important;
	border:none !important;
	border-bottom:1px solid rgba(40,40,40,0.64) !important;
	border-radius: 0px !important;
	webkit-box-shadow: none !important;
    -webkit-text-fill-color: #282828 !important;
}
.reg_bg .um-misc-ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.reg_bg  .reg_log form {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    border:none !important;
}
.video_hdr .mobile_bar_bott #header-search form {
    width: 78%;
    margin-left: 10px;
}
.video_hdr .mobile_bar_bott #header-search img{
    float: left;
    width: 30px;
    line-height: 46px;
    margin-top: 6px;
}
.navbar-brand {
    float: none;
    margin: auto;
	display: table;
	margin-top: 15px !important;
}
.reg_bg #logbox {
	 border: none !important;
	 -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25) !important;
	margin-bottom:0px !important;
	margin-top: 0px !important;
	
 }
 .reg_bg #logbox.reg_log {
    padding: 0px !important;
    background-color: transparent !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-top: none !important;
	
}
.reg_bg #logbox.reg_log .um-form form .fb-login-btn{display:none;}
.reg_bg #logbox.reg_log .um-form form  .um-row._um_row_1{display:none;}
.reg_bg #logbox.reg_log{
	margin-top: 20px !important;
	
}
 .reg_bg  .reg_log .um-logout{
	  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25) !important;
	padding: 15px 0;
	max-width: 100% !important;
	margin-bottom: 21px !important;
 }
.single.single-video .video-options .option {
    display: inline-block;
    width: auto;
	background-color:#e3e3e3;
	padding: 9px 10px 6px 10px;
    color: #9c9c9c;
    width: auto;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
}
.single.single-video .video-options .option.share-button {
	top: 5px;
    position: relative;
}
.single.single-video .mobile_option_video.btn-facebook {
	border-radius: 15px;
	margin-top:15px;
	width:100%;
}

.mobile_option_video{
	text-align:right;
	margin-top: 5px;
}
.mobile_meta_video_detail .meta {
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    line-height: 36px;
	margin-top: 0px;
}
.mobile_meta_video_detail .meta .meta-info{
	background:none;
    color: #626262;
    padding: 5px 7px;
	border:1px solid #282828;
	border-radius: 4px;
	margin-right:5px;
}
.mobile_meta_video_detail .meta a {
    color: #626262;
    padding: 5px 7px;
    border:1px solid #282828;
	border-radius: 4px;
	margin-right:5px;
}
.mobile_meta_video_detail{
    margin: 10px 0;
 }
.video-details {
    float: left;
    width: 100%;
	border: none;
	margin-bottom: 0px !important;
	padding: 0;
}
.single.single-video .rps_sldrtitle{
	color: #282828 !important;
	font-weight:300 !important;
	font-family: Open Sans;
	display:none;
}
.single.single-video  .video-details .post-entry {
    margin-bottom: 0px !important;
}
.single.single-video .video-details .rps_wrapper, .single.single-video .video-details .cf5rps_wrapper, .single.single-video .video-details .rps_instance{
	/*width:100% !important;*/
}
.single.single-video .video-details .rps_wrapper{
	/*height: auto !important;*/
	padding: 0;
}
.single.single-video .video-details .rps_wrapper .rps_item {
    padding: 0;
    margin: 0px;
    display: block;
    float: left;
    width: 50% !important;
	height: auto !important;
	display: flex;
    flex-direction: column;
}
.single.single-video .video-details .rps_wrapper .rps_item img{
    height: auto !important;
}
.single.single-video .main-content {
    border:none !important; 
}
.home .cat_right {
   padding-bottom: 57px;
}
.section-header h3 {
    background: #f1f1f1;
    color: #008000;
    text-align: center;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 15px 18px;
}
.archive .section-header h3 {
    background: none;
    color: #33A266;
    text-align: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px 0px;
}
.page-template-tpl-videos .vc_column_container, .page-template-tpl-videos .vc_column_container>.vc_column-inner {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.page-template-tpl-videos .video-section {
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.wpb-js-composer .wpb_row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.home .main-content {
    padding: 0 !important;
}
.main-content {
	border:none !important;
}
.cat_right .mars-videos-sidebar-widget{
	 padding: 0 !important;
}
.single.single-video .player{margin-bottom: 5px;}
.section-header h3 i.fa-play {
    display: none;
}
.section-header .carousel-indicators{
	margin-top: 53px;
    margin-right: 10px;
	display:none;
}
.col-sm-6 { 
  width: 48%;
  display: inline-block;
}
.col-sm-5 {
    width: 41.66666667%;
	display: inline-block;
}
#navigation-wrapper .container {
    background: #fff;
    padding: 0;
     border: none; 
}
#navigation-wrapper {
    margin: 20px 0 0 0;
}
.cat_right h3, .cat_righ h3{
   line-height: 21px;
}
.cat_right h3 a, .cat_righ h3 a {
	font-size: 11px;
    overflow: hidden;
	font-weight: 700;
}
.single.single-video .video-info .player, .single.single-video .video-info .mobile_meta_video_detail {
    float: left;
    width: 100%;
}
.single.single-video .video-info, .single.single-video .video-options  {
    margin-bottom: 0px;
}
.single.single-video .video-details{
	margin-top: 0;
}

.related_videos_trs{
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	flex-wrap: wrap !important;
}
.related_videos_trs .item{
	padding: 0;
	display: flex !important;
    flex-wrap: wrap !important;
}
.single.single-video .cf5_rps{
	display:none !important;
}
.single.single-video .related_videos_trs h4{
   float:left;
   width:100%;
}
.single.single-video .related_videos_trs h3{
   line-height: 10px;
}
.single.single-video .related_videos_trs h3 a {
	font-size: 11px;
    overflow: hidden;
	font-weight: 700;
}
.single.single-video .related_videos_trs .more_related_videos_trs{
	background-color: #f1f1f1 !important;
    border-left: none !important;
    color: #282828 !important;
    float: left;
    width: 100%;
    padding: 13px 15px 14px 10px !important;
    font-weight: bold;
	text-align:center;
	margin-bottom:15px;
	margin-top:10px;
}
.home .pagination {
	margin-bottom:0px !important;
}
.home .video-section {
    margin-bottom: 10px;
}
}
.video-section .item, .widget .item {
    vertical-align: text-top;
}
/*trs dev*/
#header #header-social {
		width:25%;
		float: right;
		text-align: right;
		height:79px;
		border-left:1px solid #ccc;
		line-height:80px;
		-webkit-box-shadow: -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		-moz-box-shadow:    -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		box-shadow:         -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
}
/*trs dev*/
.no-padding{padding:0;}
a{cursor:pointer !important;}
.carousel-control.left{background-image:none !important;color: #cfcfcf;}
.carousel-control.right{background-image:none !important;color: #cfcfcf;}
/*--- New code by Goshila(The Right Software) ---*/
.vidoe_categories_with_icons_bangla{display: flex;flex-flow: row wrap;}
.user_reg_btn_green{display:none;}
@media screen and (max-width: 767px) {
.vidoe_categories_with_icons_bangla .h4, .vidoe_categories_with_icons_bangla h4 {
    font-size: 13px;
}
.item .meta, .feat-item .feat-info .meta{display:none;}
.video-section .item h3, .widget .item h3{line-height:12px !important;}
}
.vidoe_categories_with_icons_bangla_web li{
width:12.3%;
}
.player player-small  hidden-xs hidden-sm  embed-responsive embed-responsive-16by9{
margin-top:30px;
  backgroud-color:black;
}
.video-info{
margin-top:10px;
  margin-bottom:0px;
  
}


/* Custom css Style */
.recent-video {
	display: block;
}

.video-title h3 {
	line-height: 11px !important;
    height: 35px;
}

.home_button {
	background: #e73737 !important;
    color: #33A266 !important;
    font-size: 20px !important;
    margin-top: 22px;
    float: right;
    padding: 5px 10px;
    line-height: 30px;
    border-radius: 4px;
    font-weight: bold;
    border: 3px solid #33A266 !important;
}
.home_button:hover,.home_button:active  {
	text-decoration: none;
	background: #33A266;
}
.home_button span {
	color: #FFFFFF !important;
}

.sidebar-video-title {
	overflow-y: hidden;
	height: 80px;
	display: block;
}

.sidebar-video-title h3 a {
		
}

.widget h4.widget-title {
	margin-bottom: 10px !important;
}

.reg_home a {
  line-height: 14px;
	margin-top: 35px;
	color: #008b40 !important;
	text-align: center;


	background: #e73737 !important;
	color: #33A266 !important;
	font-size: 20px !important;
	margin-top: 35px;
	float: right;
	padding: 5px 10px;
	line-height: 20px;
	border-radius: 4px;
	font-weight: bold;
	border: 3px solid #33A266 !important;
}

.video-info{
	margin: 10px 0 !important;
}

body.logged-in{
	margin-top:20px;
}


.nav-button-block {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.prev-button,.next-button {
	border-radius: 4px;
	padding: 5px 20px;
	text-align: center;
	font-size: 20px;
	color: #FFF;
	width: 100%;
}

.prev-button:hover,.next-button:hover,.prev-button:active,.next-button:active  {
	text-decoration: none;
	color: #FFF;
}
.prev-button {
	background: #e73737;
	float: left;
	margin-bottom: 10px;
}

.next-button {
	background: #008b40;
	float: right;
}

.btn-facebook {
	width: 100%;
}

#navigation-wrapper .container {
	padding-bottom: 5px !important;
}

.video-section {
    margin-bottom: 10px;
}

.vidoe_categories_with_icons_bangla li a {
	color: #008b40 !important;
	text-transform: uppercase;
}

.single.single-video .mobile_option_video a[rel="next"],.single.single-video .mobile_option_video a[rel="prev"] {
	float: left !important;
	width: 100% !important;
	padding: 6px 20px !important;
	text-align: center;
}

.single.single-video .mobile_option_video a[rel="prev"] {
    background-color: #ed1c24;
    color: #fff;
    border-radius: 15px;
    padding: 6px 20px !important;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;

}


@media only screen 
and (min-device-width : 667px) 
and (max-device-width : 992px)  { 
		body.logged-in {
		margin-top: 42px;
	}

	.video_hdr .mobile_bar_bott #header-search img {
	    float: left;
	    max-width: 20px;
	    line-height: 46px;
	    margin-top: 6px;
	}

	#header #header-search {
		position: relative !important;
	    right: 0 !important;
	    left: 0 !important;
	    width: 100% !important;
	    padding: 9px 0px !important;
	    z-index: 99999999999;
		margin: 12px auto;
	}

	.mobile_bar_bott {
	    background-color: #e73737;
	    height: 80px;
	}

	.mobile_bar_bott #header-search input {
		    line-height: 40px !important;
		    height: 40px !important;
		    width: 91%;
		    background-color: transparent !important;
		    border: none;
		    margin-left: 20px;
		    -webkit-text-fill-color: #fff !important;
		}

		.mobile_bar_bott #header-search .search-icon {
		    color: #fff;
		    top: 22px;
		}

		#logo {
		    text-align: center;
		    line-height: 60px;
		}

		.mobile_bar_bott #header-search form {
		    background-color: rgba(255,255,255,0.4);
		    padding-left: 10px;
		    border-radius: 1em;
		    width: 90%;
		    float: left;
		}

		#logo {
		    width: 100%;
		    border-right: 0;
		    box-shadow: none;
		}

		.mobile_bar_bott #dLabel2 {
			    line-height: 47px;
			    float: right;
			}

	.mobile_bar_bott #dLabel2 i.fa-home {
		    color: rgba(255,255,255,1);
		    border-radius: 1em;
		    padding: 0;
		    font-size: 24px !important;
		}


}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px)  { 
	img.rps_thumb {
		height: 140px !important;
	}

	.item h3 {
		font-size: 16px;
		max-width: 100%;
		overflow: hidden;
	}

	.video-section .item {
		margin-bottom: 10px;
	}
	.nav-button-block {
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

	.video-info {
	    margin: 10px 0 0!important;
	}
	.widget-title {
		margin-top: 0;
	}


}

.item h3 {
    font-size: 14px;
    height: 28px;
    width: 190px;
    overflow: hidden;
    line-height: 17px;
    margin-top: 5px;
}

img.rps_thumb {
    width: 100% !important;
    height: 160px !important;
    border: 0px solid #DFDFDF;
    overflow: hidden !important;

}

.player {
    margin-bottom: 25px;
    /* z-index: 999; */
    float: left;
    width: 100%;
}

.sidebar-video-title h3 {
    width: initial!important;
    height: 61px;
    overflow: hidden;
}
.sidebar-video-title {
    width: 43%;
    float: right;
}
.nav-button-block.mobile_option_video .col-md-6 {padding: 0px 3px;}
.single.single-video .mobile_option_video a[rel="next"], 
.single.single-video .mobile_option_video a[rel="prev"] {border-radius:0px!important;} 
 .meta {display:none;}
.container {
     width: 95%;
}
@media all and (min-width:992px) {
  .single.single-video .mobile_option_video a[rel="next"],
  .single.single-video .mobile_option_video a[rel="prev"] {padding:15px 20px!important;} 
  .home .section-header h3 {
    background: initial!important;padding: 0;}
  .vc_column_container>.vc_column-inner {
     padding-left: 0!important;
    padding-right: 0!important;
  }
.video-info.small  {display: initial!important;}
a.home_button {
    color: #fff!important;
    width: 88%;
    text-align: center;
}


  
}


@media all and (max-width:599px) {

body .single.single-video .mobile_option_video a[rel="next"], 
body .single.single-video .mobile_option_video a[rel="prev"],
body .video-details .nav-button-block.mobile_option_video div { width: 50%!important; }
body .btn-facebook {display:block!important;}
body .video-section .item h3 a {  z-index: 9999999!important;  position: relative; }
body .video-section .item {  height: initial!important; }
div#header-search a:first-child { display: none; }
div#header-search a:last-child .fa-home:before { font-size: 35px;}  
.video-section .meta,  .footer {display:none!important;}   
.responsive-height .item-img img { width: 100%!important; height: auto!important; min-height:125px; max-height:125px!important; }
.responsive-height h3, 
.video-title {height: 26px;overflow: hidden;}
.col-xs-6.col-sm-4.item.responsive-height {height: initial!important;}
.vidrow {float:left;width:100%;margin-bottom:5px;}
.item h3 {overflow: initial!important;}  
.nav-button-block.mobile_option_video .col-md-6 {padding: 0px 3px;}
.single.single-video .mobile_option_video a[rel="next"], 
.single.single-video .mobile_option_video a[rel="prev"] {border-radious:0px!important;} 
  .mobile_bar_bott #header-search form {
     width: 87%;
  }
}    



@media all and (max-width:999px) and (min-width:600px) {

body .single.single-video .mobile_option_video a[rel="next"], 
body .single.single-video .mobile_option_video a[rel="prev"],
body .video-details .nav-button-block.mobile_option_video div { width: 50%!important; }
body .btn-facebook {display:block!important;}
body .video-section .item h3 a {  z-index: 9999999!important;  position: relative; }
body .video-section .item {  height: initial!important; }
div#header-search a:first-child { display: none; }
div#header-search a:last-child .fa-home:before { font-size: 40px;}  
.video-section .meta,  .footer {display:none!important;}   
.responsive-height .item-img img { width: 100%!important; height: auto!important; min-height:200px; max-height:200px!important; }
.video-title {height: 26px;overflow: hidden;}
.col-xs-6.col-sm-4.item.responsive-height {height: initial!important;}
.item h3 {overflow: initial!important;}
.vidrow {float:left;width:100%;}  
.sidebar-video-title h3 {
    width: initial!important;
    height: 61px;
    overflow: hidden;
}
.sidebar-video-title {
    width: 43%;
    float: right;
}
.nav-button-block.mobile_option_video .col-md-6 {padding: 0px 3px;}
.single.single-video .mobile_option_video a[rel="next"], 
.single.single-video .mobile_option_video a[rel="prev"] {border-radius:0px!important;} 
 
}    
div#logo {
    margin-top: 20px;
}
